{% extends 'base.html' %}
{% load l10n %} {% block page_title %}
    Dashboard
{% endblock %}

{% block content %}
<div class="row">
    
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>R$ {{ total_vendido_hoje|localize }}</h3>
                <p>Total Vendido Hoje (Pagas)</p>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <a href="{% url 'venda_list' %}" class="small-box-footer">Ver Vendas <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ itens_vendidos_hoje }}</h3>
                <p>Itens Vendidos Hoje</p>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <a href="{% url 'venda_list' %}" class="small-box-footer">Ver Vendas <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-primary">
            <div class="inner">
                <h3>R$ {{ receita_total|localize }}</h3>
                <p>Receita Total (Histórico)</p>
            </div>
            <div class="icon">
                <i class="fas fa-chart-pie"></i>
            </div>
            <a href="{% url 'venda_list' %}" class="small-box-footer">Ver Vendas <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{ total_produtos }}</h3>
                <p>Produtos Cadastrados</p>
            </div>
            <div class="icon">
                <i class="fas fa-box"></i>
            </div>
            <a href="{% url 'produto_list' %}" class="small-box-footer">Ver Produtos <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>
{% endblock %}